@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import "tailwindcss";

@theme {
  --color-yellow: #F19400;
  --color-light: #FFB94B;
  --color-gray: #17223B;
  --shadow-soft:  0 -3px 6px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.1);
  --shadow-medium: 0px 8px 12px rgba(0, 0, 0, 0.15);
  --shadow-hard: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

* {
  font-family: 'Poppins';
}
.flex-center {
  @apply flex flex-col justify-center items-center
}
.animate {
  @apply transition-all duration-300 ease-in-out 
}
.skale {
  @apply hover:scale-[0.97]
}
button {
  @apply hover:cursor-pointer
}
.card {
  @apply bg-slate-900/50 border border-slate-800 shadow-lg rounded-xl backdrop-blur-2xl
}

.custom-scrollbar::-webkit-scrollbar {
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(245, 158, 11, 0.6);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(245, 158, 11, 0.85);
}


/* Hide scrollbar by default */
.scrollbar-auto {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

/* Webkit browsers */
.scrollbar-auto::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-auto::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}

.scrollbar-auto::-webkit-scrollbar-track {
  background: transparent;
}

/* Show scrollbar on hover */
.scrollbar-auto:hover {
  scrollbar-color: rgba(250, 204, 21, 0.6) rgba(15, 23, 42, 0.3); /* Firefox */
}

.scrollbar-auto:hover::-webkit-scrollbar-thumb {
  background-color: rgba(250, 204, 21, 0.6); /* amber */
}

.scrollbar-auto:hover::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.3); /* subtle track */
}

/* Hide arrows in Chrome, Edge, Safari */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
.no-arrows[type=number] {
  -moz-appearance: textfield;
}

/* In your CSS file */
.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #3b82f6 #1e293b; /* thumb color / track color */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b; /* track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* thumb color */
  border-radius: 10px;
  border: 2px solid #1e293b; /* optional for padding around thumb */
}



